<template>
  <div class="life" tabindex="1" v-on:keydown.left="step(-1)" v-on:keydown.right="step(1)">
    <div class="buttons">
      <button v-bind:disabled=running @click="step(-1)">&#9664;</button>
      <span style="padding-left: 2ex">Generation:</span>
      <span class="steps">{{ running ? "Running" : steps }}</span>
      <button v-bind:disabled=running @click="step(1)">&#9654;</button>
    </div>
    <table>
      <tr v-for="row,i of board" :key="i">
        <td v-for="cell,j of row" :key="j" :class="{ alive: cell === 1 }" @click="toggleCell(i, j)"></td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Life',
  props: ['rows', 'cols'],
  components: {},
  data () {
    let board = this.emptyBoard()
    board = board.map(r => r.map(c => Math.random() < 0.5 ? 1 : 0))
    return {
      steps: 0,
      board: board,
      running: false
    }
  },
  watch: {
    rows () {
      this.board = this.emptyBoard()
    },
    cols () {
      this.board = this.emptyBoard()
    }
  },
  methods: {
    emptyBoard() {
      return Array(this.rows).fill(0).map(r => Array(this.cols).fill(0))
    },
    toggleCell(i, j) {
      let cell = this.board[i][j]
      this.$set(this.board[i], j, 1 - cell)
    },
    step(s) {
      let vm = this
      let qs = require('qs')
      vm.running = true
      axios.post('/api', qs.stringify({
        c: 'life-step',
        s: s,
        m: this.rows,
        n: this.cols,
        b: this.board.map(r => r.join("")).join("/")
      }))
      .then(function (response) {
        console.log(response)
        vm.board = response.data.result
        vm.running = false
        vm.steps += s
      })
      .catch(function (error) {
        console.log(error)
        vm.running = false
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.buttons {
  text-align: center;
  padding: 0.5em;
}
button {
  font-size: 24px;
}
.status {
  display: inline-block;
  width: 8ex;
  text-align: center;
  padding: 0.5em;
}
.steps {
  display: inline-block;
  width: 8ex;
  text-align: center;
  padding: 0.5em;
}
table {
  border-spacing: 0px;
  border-collapse: separate;
  margin: auto;
}
td {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background: #fff;
}
td.alive {
  background: #000;
}
</style>
