<template>
  <div id="app">
    <h1>Conway's Game of Life</h1>
    <div class="nums">
      Rows: <input v-model="rows" />
      Cols: <input v-model="cols" />
    </div>
    <Life :rows="parseInt(rows)" :cols="parseInt(cols)" />
  </div>
</template>

<script>
import Life from './components/Life.vue'

export default {
  name: 'App',
  components: {
    Life
  },
  data: function() {
    return {
      rows: 20,
      cols: 20
    };
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  text-align: center;
}
.nums {
  text-align: center;
}
.nums input {
  width: 5em;
  text-align: center;
}
</style>
